<div class="main">
  <div class="top">
    <div class="panel-hidden"></div>
    <form class="panel1-form" action="/panel/another/1" method="GET" name="panel1">
        <button type="submit" id="panel1-form">
            <div class="panel" id="panel1">
            </div>
        </button>
    </form>
    <div class="panel-hidden"></div>
  </div>
  <div class="top" style="margin-top:70px;">
    <form class="panel1-form" action="/panel/another/2" method="GET" name="panel2">
        <button type="submit" id="panel2-form">
            <div class="panel" id="panel2">
            </div>
        </button>
    </form>
    <div class="panel-hidden"></div>
    <form class="panel1-form" action="/panel/another/3" method="GET" name="panel4">
        <button type="submit" id="panel4-form">
            <div class="panel" id="panel4">
            </div>
        </button>
    </form>
  </div>
  <div class="top" style="margin-top:70px;">
    <div class="panel-hidden"></div>
    <form class="panel1-form" action="/panel/another/4" method="GET" name="panel5">
        <button type="submit" id="panel5-form">
            <div class="panel" id="panel5">
            </div>
        </button>
    </form>
    <div class="panel-hidden"></div>
  </div>
</div>


<script>
    document.getElementById('panel1-form').addEventListener('click', function() {
        click1();
    });
    document.getElementById('panel2-form').addEventListener('click', function() {
        click2();
    });
    document.getElementById('panel4-form').addEventListener('click', function() {
        click4();
    });
    document.getElementById('panel5-form').addEventListener('click', function() {
        click5();
    });
    function click1(){
        document.getElementById("panel1").style.background = "green";
        setTimeout(function () {
          document.getElementById("panel1").style.background = "rgb(244, 244, 220)";
        }, 1000);
    }
    
    function click2(){
        document.getElementById("panel2").style.background = "green";
        setTimeout(function () {
          document.getElementById("panel2").style.background = "rgb(244, 244, 220)";
        }, 1000);
    }
    
    function click4(){
        document.getElementById("panel4").style.background = "green";
        setTimeout(function () {
          document.getElementById("panel4").style.background = "rgb(244, 244, 220)";
        }, 1000);
    }
    
    function click5(){
        document.getElementById("panel5").style.background = "green";
        setTimeout(function () {
          document.getElementById("panel5").style.background = "rgb(244, 244, 220)";
        }, 1000);
    }
</script>

<!--<input type="text" name="message">-->
<!--<input type="submit" value="送信！" id="send">-->



<!--</% unless @messages == nil %>-->
<!--    </% @messages.each do |message| %>-->
<!--        <br>-->
<!--        <strong></%= message.message %></strong>-->
<!--    </% end %>-->
<!--</% end %>-->
<!--<div id="messages"></div>-->


<!--<script>-->
      <!--//接続によってプロトコル変更 /websocketに送信-->
<!--      if (location.protocol === 'https:') {-->
<!--        var ws = new WebSocket('wss://' + location.host + '/websocket');-->
<!--      } else {-->
<!--        var ws = new WebSocket('ws://' + location.host + '/websocket');-->
<!--      }-->
      
      <!--//通信開始のトリガー-->
<!--      ws.onopen = function() {-->
<!--        console.log('connected');-->
<!--      };-->

      <!--//メッセージ受信時のトリガー-->
<!--      ws.onmessage = function(e) {-->
<!--        var data = isJson(e.data);-->
<!--        var message = document.createElement('div');-->
<!--        message.innerHTML = '<strong>' + data + '</strong> ';-->
<!--        document.querySelector('#messages').appendChild(message);-->
<!--      };-->

      <!--//通信切断時のトリガー-->
<!--      ws.onclose = function() {-->
<!--        console.log('disconnected');-->
<!--      };-->

      <!--//ボタンを押されたらwebsocket送信-->
<!--      document.getElementById('send').addEventListener('click', function() {-->
<!--        var message = document.querySelector('input[name="message"]').value;-->
<!--        ws.send(JSON.stringify({-->
<!--          message: message-->
<!--        }));-->
<!--        document.querySelector('input[name="message"]').value = '';-->
<!--      });-->
      
      
<!--      function isJson(data){-->
<!--          try {-->
<!--        		JSON.parse(data);-->
<!--        	} catch (error) {-->
<!--        		return data;-->
<!--        	}-->
<!--        	return JSON.parse(data)["message"];-->
<!--      }-->
<!--    </script>-->