<div class="main">
  <div class="top">
    <form class="panel1-form" action="/panel/1" method="GET" name="panel1">
        <button type="submit" id="panel1-form">
            <div class="panel" id="panel1">
            </div>
        </button>
    </form>
    <form class="panel1-form" action="/panel/2" method="GET" name="panel2">
        <button type="submit" id="panel2-form">
            <div class="panel" id="panel2">
            </div>
        </button>
    </form>
    <form class="panel1-form" action="/panel/3" method="GET" name="panel3">
        <button type="submit" id="panel3-form">
            <div class="panel" id="panel3">
            </div>
        </button>
    </form>
  </div>
</div>
