<input type="text" name="message">
<input type="submit" value="送信！" id="send">



<% unless @messages == nil %>
    <% @messages.each do |message| %>
        <br>
        <strong><%= message.message %></strong>
    <% end %>
<% end %>
<div id="messages"></div>


<script>
      //接続によってプロトコル変更 /websocketに送信
      if (location.protocol === 'https:') {
        var ws = new WebSocket('wss://' + location.host + '/websocket');
      } else {
        var ws = new WebSocket('ws://' + location.host + '/websocket');
      }
      
      //通信開始のトリガー
      ws.onopen = function() {
        console.log('connected');
      };

      //メッセージ受信時のトリガー
      ws.onmessage = function(e) {
        var data = e.data;
        var message = document.createElement('div');
        message.innerHTML = '<strong>' + data + '</strong> ';
        document.querySelector('#messages').appendChild(message);
      };

      //通信切断時のトリガー
      ws.onclose = function() {
        console.log('disconnected');
      };

      //ボタンを押されたらwebsocket送信s
      document.getElementById('send').addEventListener('click', function() {
        var message = document.querySelector('input[name="message"]').value;
        ws.send(JSON.stringify({
          message: message
        }));
        document.querySelector('input[name="message"]').value = '';
      });
    </script>