<div class="kakusi">
    <div class="main">
      <div class="top2">
        <h1 style="margin:0;">よう見つけよるねぇ、、</h1><br>
        <h1 style="margin:0;">ほい、いってらっしゃい。</h1>
        <input type="submit" value="絵にかいたようなボタン" style="font-size:60px;" onclick="a()">
      </div>
    </div>
</div>

<script>
  
  function a(){
    window.open("https://lin.ee/1uc2ZsL");
  }
</script>