<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Links | espace</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" id="style">
    <!-- fonts -->
    <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
</head>
<body class="fix-menu">
    <!-- ヘッダー -->
    <header>
        <h1><a>🐸ブロッグ🐸</a></h1>
        <nav id="mainMenu" data-toggler="mainMenuToggler" class="menu">
            <ul>
                <li><a href="#">ログイン</a></li>
                <li><a href="#">投稿</a></li>
                <li style="background-color:#b6b4b4;"><a>検索</a></li>
                <li style="background-color:#ff808e;"><a href="#">トレンド</a></li>
            </ul>
        </nav>
    </header>
    <button id="mainMenuToggler" class="manu-toggler" data-open="false"></button>

    <!-- メイン -->
    <main>
        <article>
            <h2>カラオケで95点を超えるﾊﾅｼ</h2>
            <h3>🍎アップログ-りんごちゃん</h3>
            <h4>繧ｫ繝ｩ繧ｪ繧ｱ縺ｮ謗｡轤ｹ邏ｰ縺九＞隱ｬ譏</h4>
            <div>
                <p style="color:red;">エラーが発生しました。Not Found...:(</p>
            </div>

            <hr>
            
            <div class="box">
                <ul>
                    <li><a href="Vhttps://shryamaneko.hateblo.jp/entry/2016/12/06/203003" target="_blank" rel="nofollow noopener">繧ｫ繝ｩ繧ｪ繧ｱ縺ｮ謗｡轤ｹ縺ｫ縺､縺?※縺ｮ閠?ｯ</a></li>
                    <li><a href="" target="_blank" rel="nofollow noopener">?ｵ驍ｵ?ｺ遶丞｣ｺ魘ｬ</a></li>
                </ul>
            </div>
        </article>
    </main>

    <!-- フッター -->
    <footer>
        <div class="text-small">
            <a href="https://espace.monbalcon.net/" target="_blank" rel="nofollow noopener">Template by espace.</a>
        </div>
        <nav class="fixed-menu">
            <ul>
                <li class="prev"><span style="background-color:#b6b4b4;"></span></li>
                <li class="next"><span style="background-color:#b6b4b4;"></span></li>
                <li id="pageTop" class="pagetop"><button></button></li>
            </ul>
        </nav>
    </footer>

    <!-- script -->
    <script src="/js/general.js"></script>
</body>
</html>