<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Links | espace</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" id="style">
    <!-- fonts -->
    <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
</head>
<body class="fix-menu">
    <!-- ヘッダー -->
    <header>
        <form method="get" name="titleform" action="/">
            <h1 class="margin-top:100px;"><a href="javascript:titleform.submit()">🐸ブロッグ🐸</a></h1>
        </form>
        <nav id="mainMenu" data-toggler="mainMenuToggler" class="menu">
            <ul>
                <li><a href="#">ログイン</a></li>
                <li><a href="#">投稿</a></li>
                <li><a style="background-color:#b6b4b4; cursor:not-allowed;">検索</a></li>
                <li><form method="get" name="trendform" action="/trend"><a href="javascript:trendform.submit()" style="background-color:#ff808e; cursor:default;">トレンド</a></form></li>
            </ul>
        </nav>
    </header>
    <button id="mainMenuToggler" class="manu-toggler" data-open="false"></button>

    <!-- メイン -->
    <main>
        <article>
            <h2>カラオケで95点を超えるﾊﾅｼ</h2>
            <h3>🍎アップログ</h3>
            <h4>繧ｫ繝ｩ繧ｪ繧ｱ縺ｮ謗｡轤ｹ邏ｰ縺九＞隱ｬ譏</h4>
            <div>
                <p style="color:red;">エラーが発生しました。Not Found...:(</p>
            </div>

            <hr>
            
            <div class="box">
                <ul>
                    <li><a href="https://shryamaneko.hateblo.jp/entry/2016/12/06/203003" target="_blank" rel="nofollow noopener">繧ｫ繝ｩ繧ｪ繧ｱ縺ｮ謗｡轤ｹ縺ｫ縺､縺?※縺ｮ閠?ｯ</a></li>
                    <li><a href="https://flog-blog-ixlr.onrender.com/trend">?ｵ驍ｵ?ｺ遶丞｣ｺ魘ｬ</a></li>
                </ul>
            </div>
        </article>

        <!-- ここにユーザー表示したい -->
        <div style="border: 1px solid var(--theme-color1-default); background-color: var(--theme-color1-default); height: 12rem;">
            <table style="height: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 110px;">
                            <div style="margin:15px; height:80%; aspect-ratio: 1/ 1; border-radius:50%; background-image:url(https://images.unsplash.com/photo-1560951022-00b231707a12?h=300); background-position: center; background-size:cover;">
                            </div>
                        </td>
                        <td>
                            <div>
                                <span style="display: inline; margin: 10px; font-size:2.2rem; color:white; font-weight: 600;" class="japanese-font">りんごちゃん</span><br>
                                <span style="margin:13px; color:white;" class="japanese-font">日常のいろいろについてブログしてます！</span><br>
                                <span style="margin:13px; color:white;" class="japanese-font">日常のいろいろについてブログしてます！</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <!-- フッター -->
    <footer>
        <div class="text-small">
            <a href="https://espace.monbalcon.net/" target="_blank" rel="nofollow noopener">Template by espace.</a>
        </div>
        <nav class="fixed-menu">
            <ul>
                <li class="prev"><span style="background-color:#b6b4b4;"></span></li>
                <li class="next"><span style="background-color:#b6b4b4;"></span></li>
                <li id="pageTop" class="pagetop"><button></button></li>
            </ul>
        </nav>
    </footer>

    <!-- script -->
    <script src="/js/general.js"></script>
</body>
</html>